.SignIn-Button {
    background-color: '#ef52e0' !important;
    box-shadow: 0 .2rem 0 0 #b32d79 !important;
}

.SignIn-Button:hover {
    transform: translateY(-1px) !important;
    box-shadow: 0.02rem .25rem 0 0 #b32d79 !important;
    
}